{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Contact Us</title>
</head>
<body>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about_me' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- About me -->
      <br>
      <div class="container">
        <h1>About Me</h1>

        <h2>Company Information</h2>
        <p><strong>Name:</strong> {{ company_info.company_name }}</p>
        <p><strong>Address:</strong> {{ company_info.address }}</p>
        <p><strong>Phone:</strong> {{ company_info.phone }}</p>
        <p><strong>Email:</strong> {{ company_info.email }}</p>

        <img src="{% static 'assets/img/photo.png' %}" alt="Company Image">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>